.fundonave{

    background-color:#353839;
}
.carrossel{
	margin-top: 10%;
}
.imgavatar{
	height: 12%;
	width: 12%;
}
.foto{
	height: 100%;
	width: 70%;
	border-radius: 3%;
}
.espaço{
	padding-top: 5% ;
	padding-bottom: 2% ;

}
.icon{
	height: 50%;
	width: 40%;
	padding-left: 5%;
}
.icon1{

	border-radius: 50%;
}
.foto1{
	height:80% ;
	width:65% ;
	border-color: black;
	border-style: groove ;
}
.cert{
	height:50% ;
	width:95% ;
}
.contato{
	height: 50%;
	width:25%;
}	

h1,h2{
	padding-top: 5%;
}

footer{
	text-align: center;
	background-color: #f8f9fa;
}