.fundonave{

    background-color:#353839;
}
.imgavatar{
	height: 12%;
	width: 12%;
}
.foto{
	height: 100%;
	width: 70%;
}
.espaço{
	padding-top: 2% ;
	padding-bottom: 2% ;

}
.icon{
	height: 55%;
	width: 40%;
	padding-left: 5%;
}
.icon1{

	border-radius: 50%;
}
.foto1{
	height:80% ;
	width:65% ;
	border-color: black;
	border-style: groove ;
}
.contato{
	height: 45%;
	width:25%;
}	
h1{
	
	padding-top: 5%;
}

footer{
	text-align: center;
	background-color: #f8f9fa;
}